In [6]:
import pandas as pd
data = pd.read_csv("D:\\correlation.csv") 
data.corr()

           age    score
age    1.00000 -0.59733
score -0.59733  1.00000

In [5]:
import pandas as pd
data = pd.read_csv("D:\\correllation1.csv") 
data.corr()

         stumps   beetle
stumps  1.00000  0.91585
beetle  0.91585  1.00000

In [4]:
import pandas as pd
data = pd.read_csv("D:\\correlation2.csv") 
data.corr()

              miles/hour  miles/gallon
miles/hour           1.0           0.0
miles/gallon         0.0           1.0